@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a{
  color: dodgerblue;
}

#root{
  display: flex;
  flex-direction: column;
  background-color: #202124;
  height: 100%;
  width: 100%;
}
